.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  margin-top: 50px;
}

.aboutContent {
  display: flex;
  /* flex-direction: column; */
  align-items: flex-end;
  /* justify-content: space-between; */
  width: 70%;
  gap: 100px;
  font-size: 1.2rem;
}
.about{
  text-align: right;
}

.aboutContent a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}
.aboutContent h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.aboutContent p {
  line-height: 0.9;
}

@media (max-width: 1024px) {
  .container{
    height: 100%;
  }
  .aboutContent {
    width: 70%;
    margin-bottom: 200px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 1.5rem;
  }
  
  .aboutContent {
    width: 100%;
    gap: 24px;

  }

  .aboutContent h2 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  .aboutContent p {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1rem;
  }
  
  .aboutContent {
    gap: 20px;
    flex-direction: column;
    justify-content: center;
  }

  .aboutContent h2 {
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
  }

  .aboutContent p {
    font-size: 0.9rem;
    line-height: 1.1;
  }
}