.modalOverlay {
  position: fixed;
  inset: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.modalContent {
  /* background-color: black; */
  /* border: 1px solid white; */
  padding: 2rem 15rem;
  margin-top: 50px;
  border-radius: 8px;
  width: 100%;
  /* max-width: 36rem; */
  position: relative;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.closeButton:hover {
  color: #cccccc;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.title {
  font-size: 1.5rem;
  color: white;
  text-align: left;
  margin-bottom: 0.5rem;
}

.nameInputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.input {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  background: rgba(215, 216, 215, 0.13);
  backdrop-filter: blur(50px);
  border-radius: 12px;
}
.form input:focus,
.form input:active {
  outline: none;
  /* background-color: transparent; */
}


.input::placeholder {
  color: #fff;
}

.plusOneSection {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plusOneButtons {
  display: flex;
  gap: 1rem;
  /* margin-top: 0.5rem; */
}

.plusOneButton {
  padding: 0.5rem 1.3rem;
  background: none;
  color: white;
  background: rgba(215, 216, 215, 0.13);
  backdrop-filter: blur(50px);
  border-radius: 12px;
  cursor: pointer;
  border: none;
  font-family: inherit;
  font-size: 1rem;
}

.plusOneButton.selected {
  border: 1px solid white;
  /* color: black; */
}

.termsSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 0.5rem; */
  color: white;
}
.termsSection a{
  color: white;
}

.submitButton {
  width: 100%;
  max-width: 150px;
  padding: 0.5rem;
  align-self: center;
  border: 1px solid white;
  background: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-family: inherit;
  background: rgba(215, 216, 215, 0.13);
  backdrop-filter: blur(50px);
  border-radius: 12px;
}
.form input::placeholder {
  color: #fff;
}

.form input{
  font-family: inherit;
  font-size: 1.2rem;
  letter-spacing: -0.5px;

}
.submitButton:hover {
  background-color: white;
  color: black;
}

.loadingState, .successState {
  text-align: center;
  color: white;
}

.loadingState h2, .successState h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.successState p {
  margin-bottom: 1.5rem;
}

.backButton {
  padding: 0.5rem 1.5rem;
  border: 1px solid white;
  background: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.backButton:hover {
  background-color: white;
  color: black;
}