.form {
  text-align: center;
}

.form p {
  font-size: 1.1rem;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
  gap: 0.5rem;
}

.inputBox input {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  background: rgba(215, 216, 215, 0.13);
  backdrop-filter: blur(50px);
  border-radius: 12px;
  font-family: inherit;
  font-size: 1.2rem;

}

.inputBox input:focus,
.inputBox input:active {
  outline: none;
  background-color: transparent;
}
.form input:focus,
.form input:active {
  outline: none;
}

.inputBox input::placeholder {
  color: #fff;
}

.inputBox button {
  padding: 0.5rem 1rem;
  background: none;
  color: white;
  background: rgba(215, 216, 215, 0.13);
  backdrop-filter: blur(50px);
  border-radius: 12px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  border: 1px solid white;

}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .form {
    margin-top: 1rem;
    text-align: center;
    /* padding: 0 1rem; */
  }

  .form p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .inputBox {
    /* flex-direction: column; */
    gap: 0.8rem;
    margin-top: 0.2rem;
  }

  .inputBox input {
    font-size: 1rem;
    padding: 8px 16px 0;
  }

  .inputBox button {
    width: 70%;
    padding: 6px;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 480px) {
  .form p {
    font-size: 0.9rem;
  }

  .inputBox input {
    font-size: 0.7rem;
    padding: 8px 14px 0;
  }

  .inputBox button {
    padding: 6px;
    font-size: 0.7rem;
  }
}