.form {
  text-align: center;
  margin-top: 30px;
}

.form p {
  font-size: 1.2rem;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
  gap: 0.4rem; 
} 

.inputBox input {
  padding: 0.5rem 1rem;
  background-color: transparent;
  border: none;
  color: white;
  width: 100%;
  background: rgba(215, 216, 215, 0.13);
  backdrop-filter: blur(50px);
  border-radius: 12px;
  font-family: inherit;
  font-size: 1.2rem;
  letter-spacing: -0.5px;
}

.inputBox input:focus,
.inputBox input:active {
  outline: none;
}

.inputBox input::placeholder {
  color: #fff;
}

.inputBox button {
  width: 150px;
  padding: 0.5rem;
  border: 1px solid white;
  background: rgba(215, 216, 215, 0.13);
  backdrop-filter: blur(50px);
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1rem;
  font-family: inherit;
}

.inputBox button:hover {
  background-color: white;
  color: black;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .form {
    margin-top: 1rem;
    text-align: center;
  }

  .form p {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .inputBox {
    gap: 0.3rem;
    margin-top: 0.2rem;
  }

  .inputBox input {
    font-size: 1rem;
    padding: 8px 16px;
  }

  .inputBox button {
    width: 70%;
    padding: 8px;
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 480px) {
  .form p {
    font-size: 0.9rem;
  }

  .inputBox input {
    font-size: 0.9rem;
    padding: 8px 14px;
  }

  .inputBox button {
    padding: 8px;
    font-size: 0.9rem;
  }
}