.mapContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #01044C;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logoContainer {
  position: fixed;
  z-index: 51;
}

.logoDefault {
  top: 35px;
  left: 50%;
  transform: translateX(-50%);

  opacity: 1;
  transition: opacity 0.3s ease;
}

.logoModal {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.logoHidden {
  opacity: 0;
  pointer-events: none;
}

.fixedLogo {
  width: 200px;
  height: auto;
}

.map {
  width: auto;
  height: 100vh;
  display: block;
}

.cityLabel {
  transition: opacity 0.3s ease;
  fill: white;
  font-weight: bold;
  font-size: 27px;
  cursor: pointer;
}
.parisLabel {
  font-size: 39px;  /* Larger font size for Paris */
}
.cityDot {
  transition: opacity 0.3s ease;
  fill: white;
  opacity: 1;
}

.cityHidden {
  opacity: 0;
}
.cityImageContainer {
  pointer-events: none;
  overflow: visible;
}

.cityImage {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: brightness(0) invert(1); /* Makes the SVG white */
}

.cityHidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}


/* Mobile styles */
@media screen and (max-width: 768px) {
  .cityImageContainer {
    transform: scale(1.2); /* Increased from 0.8 to make labels larger */
  }
  
  .fixedLogo {
    margin-bottom: 30px;
  }
  
  .mapContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .map {
    margin-top: 20px;
    width: 260vw; 
    height: 100vh;
    min-width: 100%;
    transform: translateX(-40px);
  }

  

  .cityImage {
    filter: brightness(0) invert(1);
    transform: scale(1.2); /* Increased scale for better visibility */
  }
  
  /* Ensure the container doesn't clip the scaled content */
  .cityImageContainer foreignObject {
    overflow: visible;
  }
}