.mapContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #01044C;
}
.logoContainer {
  position: fixed;
  transition: all 1s ease;
  z-index: 51; /* Higher than modalOverlay to stay on top */
}

.logoDefault {
  bottom: 20px;
  right: 20px;
}

.logoModal {
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.fixedLogo {
  width: 150px;
  height: auto;
  transition: opacity 1s ease;
}

.map {
  width: 100vw;
  height: auto;
  display: block;
}

.cityLabel {
  transition: opacity 0.3s ease;
  fill: white;
  font-weight: bold;
  font-size: 27px;
  cursor: pointer;
}

.cityDot {
  transition: opacity 0.3s ease;
  fill: white;
  opacity: 1;
}

.cityHidden {
  opacity: 0;
}
