.mapContainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #01044C;
}

.fixedLogo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: auto;
  transition: opacity 0.3s ease;
}

.map {
  width: 100vw;
  height: auto;
  display: block;
}

.cityLabel {
  transition: opacity 0.3s ease;
  fill: white;
  font-weight: bold;
  font-size: 27px;
  cursor: pointer;
}

.cityDot {
  transition: opacity 0.3s ease;
  fill: white;
  opacity: 1;
}

.cityHidden {
  opacity: 0;
}
