


/* .main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
} */

.check{
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
}
.main{
  /* padding:  20px; */
}
.main section {
  min-height: 100vh;
}
.hero{
  /* background: radial-gradient(115.53% 100% at 50% 0%, rgba(0, 0, 0, 0.14) 25%, rgba(188, 1, 35, 1) 100%), #000; */
  /* background: radial-gradient(115.53% 100% at 50% 0%, rgba(0, 0, 0, 0.57) 30.62%, #BC0123 52.24%), #000; */
  /* animation: backgroundTransition 2s linear 2s; */
}
.heroText h3 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 99%; /* 61.38px */

  letter-spacing: -1.24px;
}
.heroText p {
  font-weight: 300;
  letter-spacing: -0.48px;
}

.heroText {
  letter-spacing: -1.24px;
}

.slides{
  /* scroll-snap-type: y mandatory; */

}
.slides section{
  /* scroll-snap-align: start; */

  background-attachment: local;
  background-size: cover;
  background-repeat: no-repeat; /* Do not repeat the image */
  /* background-size: auto; Resize the background image to cover the entire container */
  /* background-size: 100%; Resize the background image to cover the entire container */

}
.slideOne{
  /* background-image: url("../public/bgslidetwo.jpg"); */

  /* background: linear-gradient(180deg, rgba(188, 1, 35, 0.80) 0%, rgba(0, 0, 0, 0.00) 44%), url("../public/bgslidetwo.jpg") lightgray 50% / cover no-repeat; */
  background: radial-gradient(348.99% 48.39% at 50% 0%, #BC0123 14%, rgba(0, 0, 0, 0.00) 100%), url("../public/bgslidetwo.jpg") lightgray 20% / cover no-repeat;
  /* background: radial-gradient(348.99% 48.39% at 50% 0%, #BC0123 10%, rgba(0, 0, 0, 0.00) 100%), url("../public/testbgslideone.png") lightgray 0px 81.939px / 100% 102.66% no-repeat; */
  background-position-x: center; /* Center the image */
  background-position-y: 5%; /* Center the image */
  /* background-image: url("../public/testslideone.png"); */
  /* background: radial-gradient(348.99% 48.39% at 50% 0%, #BC0123 14%, rgba(0, 0, 0, 0.00) 100%), url("../public/testslideone.png") lightgray 0px 81.939px / 100% 102.66% no-repeat; */
}
  .slideTwo{
  background-image: url("../public/bgslidethreee.png");
  background-position: center; /* Center the image */

}
.slideThree{
  background-image: url("../public/bgslidethree.png");
  background-position: center;
  /* background-position: center; Center the image */

}
.slideFour{
  background-image: url("../public/bgslidefour.png");
  background-position: center; /* Center the image */

}
.slideFive{
  /* background-image: url("../public/bgslidefive.png"); */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 35.5%, #000 100%), url("../public/bgslidefive.png") lightgray 50% / cover no-repeat;
  background-position: center; /* Center the image */
}
.slideSix{
  /* background-image: url("../public/bgslidefive.png"); */
  background-image: url("../public/bgslidesix.png");
  background-position: center; /* Center the image */
}
/* Keyframes for the transition */
@keyframes backgroundTransition {
  0% {
      background: radial-gradient(115.53% 100% at 50% 0%, rgba(0, 0, 0, 0.57) 50.4%, #BC0123 100%), #000;
  }
  20% {
      background: radial-gradient(115.53% 100% at 50% 0%, rgba(0, 0, 0, 0.57) 45%, #BC0123 90%), #000;
  }
  40% {
      background: radial-gradient(115.53% 100% at 50% 0%, rgba(0, 0, 0, 0.57) 40%, #BC0123 80%), #000;
  }
  60% {
      background: radial-gradient(115.53% 100% at 50% 0%, rgba(0, 0, 0, 0.57) 35%, #BC0123 70%), #000;
  }
  80% {
      background: radial-gradient(115.53% 100% at 50% 0%, rgba(0, 0, 0, 0.57) 33%, #BC0123 60%), #000;
  }
  100% {
      background: radial-gradient(115.53% 100% at 50% 0%, rgba(0, 0, 0, 0.57) 30.62%, #BC0123 52.24%), #000;
  }
}
.mobileHeroText{
  display: none;
}
.heroContent{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  /* margin-bottom: 30px; */
  /* border: 1px solid blue; */
/* margin: 30px; */
box-sizing: border-box;
  padding:  20px;
}
.logo{
  position: fixed;
  bottom: 0;
  max-width: 200px;
  margin-left: 20px;
}
.heroText{
  text-align: right;
}

.About{
  background-color: #000;
  padding: 20px;
  display: flex;
  align-items: center;
}
.aboutText{
  display: flex;
  /* border: 1px solid red; */
  align-items: flex-end;
  /* justify-content: flex-end; */ 
  flex-direction: column;
}
.aboutText h4 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.contact{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact a{
  text-decoration: none;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -1.4px;
  line-height: 95%;
}
.aboutText p {
  width: 45%;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: -1.4px;
  line-height: 95%;
  /* text-transform: capitalize; */
  text-align: right;
}
.rightAbout{
  text-align: right;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .slideFour{
    background-position: 45%; /* Center the image */
  }
  .slideTwo{
    background-position: 45%;
  }
  .slideThree{
    background-position: 45%;
  }
  .slideSix{
    background-position: 75%;
  }
  .About{
  justify-content: flex-start;
  }
  .aboutText {
    justify-content: flex-start;
    align-items: flex-end;
    /* flex-direction: column; */
  }
  .aboutText p  {
    width: 80%;
    font-size: 1.3rem;
    margin-top: 10px;
    text-align: justify;
  }
  .contact a{
    font-size: 1.3rem;
    
  }
  .mobileHeroText{
    display: block;
    line-height: 83%;
  }
  .heroTitle{
    display: none;
  }
  .heroContent{
   /* flex-wrap: wrap; */
   /* flex-direction: column; */
   justify-content: space-between;
   align-items: center;
   /* align-items: space-between; */
   padding: 10px;
   margin-bottom: 15px;
  }
  /* .check{
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    width: 37px;
    height: 57px;
  } */
  .check{
    margin-top: 10px;
    margin-right: 15px;
    /* position: absolute; */
    /* width: 37px;
    height: 57px; */
  }
  .heroText p {
    font-size: 0.8rem;
    display: none;
  }
  .slideThree{
    background-size: cover;
    background-position: 40%;
  }
  .heroText h3 {
    font-size: 1.3rem;
  }
  .logo{
    width: 43%;
    max-width: 170px;
    fill: #fff;
    margin-left: 10px;

  }
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  /* .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  } */
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
