.checkin{
    overflow-y: hidden;
    height: 100vh;
}
.checkinHero{
    overflow-x: hidden ;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form{
    display: flex;
    flex-direction: column;
}
.logo{

    max-width: 150px;
  }

@media (max-width: 768px) {
    .checkinHero {
        justify-content: flex-start;
    }
    .logo{
        margin-left: 20px;
        max-width: 100px;
    }
}