.checkin{
    height: 100vh;
    overflow-y: hidden;
}
.checkinHero{
    overflow-y: hidden;
    overflow-x: hidden ;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
}
.form{
    display: flex;
    flex-direction: column;
}
.logo{
    height: auto;
    max-width: 150px;
    margin-bottom: 30px;
  }

  .confirmation{
    width: 70%;
    text-align: center;
  }
  .link button {
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  width: 160px;
  background-color: transparent;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  margin-top: 30px;
}
@media (max-width: 768px) {
    .checkinHero {
        justify-content: center;
    }
    .logo{
        margin-left: 20px;
        max-width: 100px;
    }
}